{% extends 'base.html'%}
{% load static %}
{% block content %}


  <!-- ================ start banner area ================= -->	
  <section class="blog-banner-area" id="blog">
    <div class="container h-100">
      <div class="blog-banner">
        <div class="text-center">
          <h1>Blog</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Blog</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ end banner area ================= -->


  <!--================Blog Area =================-->
  <section class="blog_area">
      <div class="container">
          <div class="row">
              {% for blog in blogs %}
              <div class="col-lg-8">
                  <div class="blog_left_sidebar">
                      <article class="row blog_item">
                          <div class="col-md-3">
                              <div class="blog_info text-right">
                                  <div class="post_tag">
                                      <a href="#">{{ blog.tags}}</a>
                                  </div>
                                  <ul class="blog_meta list">
                                      <li>
                                          <a href="#">{{ blog.user }}
                                              <i class="lnr lnr-user"></i>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">{{ blog.published}}
                                              <i class="lnr lnr-calendar-full"></i>
                                          </a>
                                      </li>
                                      </li>
                                      <li>
                                         
                                              <i class="lnr lnr-bubble"></i>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-9">
                              <div class="blog_post">
                                  <div class="blog_details">
                                      <a href="{% url 'blog-detail' blog.pk%}">
                                          <h2>{{ blog.title}}</h2>
                                      </a>
                                      <p>{{ blog.content|slice:":400" }}</p>
                                      <a class="button button-blog" href="{% url 'blog-detail' blog.pk%}">View More</a>
                                  </div>
                              </div>
                          </div>
                      </article>
                      
                      <nav class="blog-pagination justify-content-center d-flex">
                          <ul class="pagination">
                              <li class="page-item">
                                  <a href="#" class="page-link" aria-label="Previous">
                                    
                                  </a>
                              </li>
                          </ul>
                      </nav>
                  </div>
                </div>
                {% endfor %}
                
              <div class="col-lg-4">
                  <div class="blog_right_sidebar">
                      <aside class="single_sidebar_widget search_widget">
                          <div class="input-group">
                            <form action="{% url 'blog' %}" method="get">
                              <input type="search" class="form-control" name="q" required placeholder="Search Posts"> <br>
       
                              <button type="submit" class="form-control">Найти Пост</button>
                            </form>
                          </div>
                          <!-- /input-group -->
                          <div class="br"></div>
                      </aside>
                     
                    
                      
                      <aside class="single-sidebar-widget newsletter_widget">
                          <h4 class="widget_title">Newsletter</h4>
                          <p>
                              Here, I focus on a range of items and features that we use in life without giving them a second thought.
                          </p>
                          <div class="form-group d-flex flex-row">
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <div class="input-group-text">
                                          <i class="fa fa-envelope" aria-hidden="true"></i>
                                      </div>
                                  </div>
                                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email address" onfocus="this.placeholder = ''"
                                      onblur="this.placeholder = 'Enter email'">
                              </div>
                              <a href="#" class="bbtns">Subcribe</a>
                          </div>
                          <p class="text-bottom">You can unsubscribe at any time</p>
                          <div class="br"></div>
                      </aside>
                      <aside class="single-sidebar-widget tag_cloud_widget">
                          <h4 class="widget_title">Tag Clouds</h4>
                          <ul class="list">
                              <li>
                                  <a href="#">Technology</a>
                              </li>
                              <li>
                                  <a href="#">Fashion</a>
                              </li>
                              <li>
                                  <a href="#">Architecture</a>
                              </li>
                              <li>
                                  <a href="#">Fashion</a>
                              </li>
                              <li>
                                  <a href="#">Food</a>
                              </li>
                              <li>
                                  <a href="#">Technology</a>
                              </li>
                              <li>
                                  <a href="#">Lifestyle</a>
                              </li>
                              <li>
                                  <a href="#">Art</a>
                              </li>
                              <li>
                                  <a href="#">Adventure</a>
                              </li>
                              <li>
                                  <a href="#">Food</a>
                              </li>
                              <li>
                                  <a href="#">Lifestyle</a>
                              </li>
                              <li>
                                  <a href="#">Adventure</a>
                              </li>
                          </ul>
                      </aside>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--================Blog Area =================-->

<div class="col-md-9">
  {% for blogs in page_obj %}
    {# Each "blogs" is a blogs model object. #}
    {{ blogs.full_name|upper }}<br>
    ...
{% endfor %}

<div class="pagination">
    <nav aria-label="Page navigation example">
    <span class="step-links">
        {% if page_obj.has_previous %}
             <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
             <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
             <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
             <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
    </span>
</nav>
</div>
</div>


  <!--================Instagram Area =================-->
  <section class="instagram_area">
    <div class="container box_1620">
      <div class="insta_btn">
        <a class="btn theme_btn" href="#">Follow us on instagram</a>
      </div>
      <div class="instagram_image row m0">
        <a href="#"><img src="{% static 'img/instagram/ins-1.jpg'%}" alt=""></a>
        <a href="#"><img src="{% static 'img/instagram/ins-2.jpg'%}" alt=""></a>
        <a href="#"><img src="{% static 'img/instagram/ins-3.jpg'%}" alt=""></a>
        <a href="#"><img src="{% static 'img/instagram/ins-4.jpg'%}" alt=""></a>
        <a href="#"><img src="{% static 'img/instagram/ins-5.jpg'%}" alt=""></a>
        <a href="#"><img src="{% static 'img/instagram/ins-6.jpg'%}" alt=""></a>
      </div>
    </div>
  </section>
  <!--================End Instagram Area =================-->
  

{%endblock%}