{% extends 'base.html'%}
{% load static %}
{% block content %}

	<!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Shopping Cart</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->
  
  

  <!--================Cart Area =================-->
  <section class="cart_area">
      <div class="container">
          <div class="cart_inner">
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">Product</th>
                              <th scope="col">Price</th>
                              <th scope="col">Quantity</th>
                              <th scope="col">Total</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>
                                  {% for item in cart %}
                                    {% with product=item.product %}

                                    <div class="media">
                                        <div class="d-flex">
                                            
                                        </div>
                                        <div class="media-body">
                                            <p>{{product.title}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>${{product.price}}</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                            {{ item.update_quantity_form.quantity }}
                                            {{ item.update_quantity_form.update }}
                                            <input type="submit" value="Обновить">
                                            {% csrf_token %}
                                          </form>
                                    </div>
                                </td>
                                <td>
                                    <h5>$720.00</h5>
                              </td>
                              {% endwith %}
                              {% endfor %}
                          </tr>
                          <tr class="bottom_button">
                              <td>
                                  <a class="button" href="#">Update Cart</a>
                              </td>
                              <td>

                              </td>
                              <td>

                              </td>
                              <td>
                                  <div class="cupon_text d-flex align-items-center">
                                      <input type="text" placeholder="Coupon Code">
                                      <a class="primary-btn" href="#">Apply</a>
                                      <a class="button" href="#">Have a Coupon?</a>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>

                              </td>
                              <td>
                               
                              </td>
                              <td>
                                  <h5>Subtotal</h5>
                              </td>
                              <td>
                                  <h5>${{ cart.get_total_price}}</h5>
                              </td>
                          </tr>
                        
                         
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </section>
  <!--================End Cart Area =================-->



  {% endblock %}